:root {
  /* Fonts */
  --poppins: "Poppins", sans-serif;
  /* Colors */
  --black: #000;
  --white: #ffffff;
  --ligthWhite: #f1f1f1;
  --oceanBlue: #004A74;
  --oceanGreen: #036F71;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--poppins);
}

header {
  position: relative;
  background-image: url('../img/background.png');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.logo {
  text-align: center;
}

.enyoy {
  margin: 120px;
  width: 27%;
}

.enyoy h1 {
  color: var(--white);
  font-size: 4rem;
  padding-bottom: 20px;
}

.enyoy h4 {
  color: var(--ligthWhite);
  font-size: 1.5rem;
  font-weight: 400;
  padding-bottom: 50px;
}

.explore {
  color: var(--black);
  border-radius: 11px;
  background-color: var(--white);
  padding: 20px 90px;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  margin-top: 20px;
  border: 1px solid var(--white);
  transition: all 0.3s ease;
}

.explore:hover {
  background-color: transparent;
  border: 1px solid var(--white);
  color: var(--white);
}

.scroll-down {
  position: absolute;
  right: 10%;
  bottom: 0;
}

.scroll-content {
  position: relative;
}

.scroll-content h1 {
  position: absolute;
  color: var(--oceanGreen);
  font-weight: 700;
  font-size: 2.25rem;
  top: 25%;
  left: 25%;
}

.middle {
  position: absolute;
  top: 50%;
  left: 45%;
}

.mouse {
  position: relative;
  width: 2.2rem;
  height: 3.5rem;
  padding: 0.625rem 0.8rem;
  border: 0.125rem solid var(--oceanGreen);
  border-radius: 1.5rem;
}

.mouse::before {
  content: '';
  position: absolute;
  width: 0.3rem;
  height: 0.5rem;
  border-radius: 25%;
  background-color: var(--oceanGreen);
  opacity: 1;
  -webkit-animation: mouse 2s ease-in-out infinite;
  -o-animation: mouse 2s ease-in-out infinite;
  animation: mouse 2s ease-in-out infinite;
}

@keyframes mouse {
  from {
    opacity: 1;
    top: 10px;
  }
  to {
    opacity: 0;
    top: 35px;
  }
}

.eu-projects {
  display: flex;
  align-items: start;
  margin-top: 20px;
}

.europe {
  font-size: 1.525rem;
}

.main {
  color: var(--black);
  background-color: var(--white);
  border-radius: 11px;
  padding: 10px 15px;
  text-decoration: none;
  font-weight: 400;
  margin-right: 20px;
  font-size: 1.2rem;
  border: 1px solid var(--white);
  transition: 0.3s all;
}

.main:hover {
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--white);
}

.hamburger {
  z-index: 100;
}

.hamburger svg {
  z-index: 100;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: var(--white);
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham .top {
  stroke-dasharray: 40 130;
}
.ham .middle {
  stroke-dasharray: 40 140;
}
.ham .bottom {
  stroke-dasharray: 40 205;
}
.ham.active .top {
  stroke-dasharray: 75 130;
  stroke-dashoffset: -63px;
}
.ham.active .middle {
  stroke-dashoffset: -102px;
}
.ham.active .bottom {
  stroke-dasharray: 110 205;
  stroke-dashoffset: -86px;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
  overflow-x: hidden;
  transition: 0.5s;
}

.links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  list-style: none;
  align-items: center;
  text-align: center;
}

.links li {
  margin-right: 6.125rem;
}

.links li a {
  position: relative;
  font-size: 2rem;
  text-decoration: none;
  color: var(--white);
}

.links li a:after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--white);
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scale(0, 1);
  transform-origin: 0% 100%;
  transition: all 0.3s ease-in-out;
}

.links li a:hover::after {
  transform: scale(1, 1);
}

@media only screen and (max-width: 1000px) {
  .logo {
    width: 50%;
  }
  .logo img {
    width: 80%;
    margin: auto;
  }
}

@media only screen and (max-width: 780px) {
  .links {
    flex-direction: column;
  }
  .main {
    font-size: 1rem;
    padding: 5px 10px;
  }
  .scroll-down img, .scroll-down, .scroll-content {
    width: 80%;
    text-align: center;
  }
  .scroll-content h1 {
    left: 35%;
    text-align: center;
    font-size: 1.2rem;
  }
  .mouse::before {
    transform: translate(-50%);
  }
  .explore {
    font-size: 1rem;
    padding: 10px 80px;
  }
  .enyoy h4 {
    font-size: 1rem;
  }
} 

