:root {
  /* Fonts */
  --poppins: "Poppins", sans-serif;
  --russo: "Russo One", sans-serif;
  /* Colors */
  --black: #000;
  --white: #ffffff;
  --ligthWhite: #f1f1f1;
  --oceanBlue: #004A74;
  --ligthBlue: #11699B;
  --oceanGreen: #036F71;
  --grayText: #cfcfce;
  --brown: #303132;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--poppins);
  overflow-x: hidden;
  
}

header {
  position: relative;
  background-image: url('../img/background.png');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

nav.fixed-nav {
  position: fixed;
  top: 0;
  transition: 0.3s;
}


.logo {
  text-align: center;
}

.enyoy {
  margin: 120px;
  width: 27%;
}

.enyoy h1 {
  color: var(--white);
  font-size: 4rem;
  padding-bottom: 20px;
}

.enyoy h4 {
  color: var(--ligthWhite);
  font-size: 1.5rem;
  font-weight: 400;
  padding-bottom: 50px;
}

.explore {
  color: var(--black);
  border-radius: 11px;
  background-color: var(--white);
  padding: 20px 90px;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  margin-top: 20px;
  border: 1px solid var(--white);
  transition: all 0.3s ease;
}

.explore:hover {
  background-color: transparent;
  border: 1px solid var(--white);
  color: var(--white);
}

.scroll-down {
  position: absolute;
  right: 10%;
  bottom: 0;
}

.scroll-content {
  position: relative;
}

.scroll-content h1 {
  position: absolute;
  color: var(--oceanGreen);
  font-weight: 700;
  font-size: 2.25rem;
  top: 25%;
  left: 25%;
}

.middle {
  position: absolute;
  top: 50%;
  left: 45%;
}

.mouse {
  position: relative;
  width: 2.2rem;
  height: 3.5rem;
  padding: 0.625rem 0.8rem;
  border: 0.125rem solid var(--oceanGreen);
  border-radius: 1.5rem;
}

.mouse::before {
  content: '';
  position: absolute;
  width: 0.3rem;
  height: 0.5rem;
  border-radius: 25%;
  background-color: var(--oceanGreen);
  opacity: 1;
  -webkit-animation: mouse 2s ease-in-out infinite;
  -o-animation: mouse 2s ease-in-out infinite;
  animation: mouse 2s ease-in-out infinite;
}

@keyframes mouse {
  from {
    opacity: 1;
    top: 10px;
  }
  to {
    opacity: 0;
    top: 35px;
  }
}

.eu-projects {
  display: flex;
  align-items: start;
  margin-top: 20px;
}

.europe {
  font-size: 1.525rem;
}

.main {
  color: var(--black);
  background-color: var(--white);
  border-radius: 11px;
  padding: 10px 15px;
  text-decoration: none;
  font-weight: 400;
  margin-right: 20px;
  font-size: 1.2rem;
  border: 1px solid var(--white);
  transition: 0.3s all;
  text-transform: uppercase;
}

.main:hover {
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--white);
}

.hamburger {
  z-index: 100;
}

.hamburger svg {
  z-index: 100;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: var(--white);
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham .top {
  stroke-dasharray: 40 130;
}
.ham .middle {
  stroke-dasharray: 40 140;
}
.ham .bottom {
  stroke-dasharray: 40 205;
}
.ham.active .top {
  stroke-dasharray: 75 130;
  stroke-dashoffset: -63px;
}
.ham.active .middle {
  stroke-dashoffset: -102px;
}
.ham.active .bottom {
  stroke-dasharray: 110 205;
  stroke-dashoffset: -86px;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
  overflow-x: hidden;
  transition: 0.5s;
}

.links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  list-style: none;
  align-items: center;
  text-align: center;
}

.links li {
  margin-right: 6.125rem;
}

.links li a {
  position: relative;
  font-size: 2rem;
  text-decoration: none;
  color: var(--white);
}

.links li a:after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--white);
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scale(0, 1);
  transform-origin: 0% 100%;
  transition: all 0.3s ease-in-out;
}

.links li a:hover::after {
  transform: scale(1, 1);
}

@media only screen and (max-width: 1000px) {
  .logo {
    width: 50%;
  }
  .logo img {
    width: 80%;
    margin: auto;
  }
}

@media only screen and (max-width: 780px) {
  .links {
    flex-direction: column;
  }
  .main {
    font-size: 1rem;
    padding: 5px 10px;
  }
  .scroll-down img, .scroll-down, .scroll-content {
    width: 80%;
    text-align: center;
  }
  .scroll-content h1 {
    left: 35%;
    text-align: center;
    font-size: 1.2rem;
  }
  .mouse::before {
    transform: translate(-50%);
  }
  .explore {
    font-size: 1rem;
    padding: 10px 80px;
  }
  .enyoy h4 {
    font-size: 1rem;
  }
}

/* Stats section*/

section.stats-section {
    padding: 100px 0 100px;
}

.numbers {
  display: flex;
  align-items: center;
  margin-left: 142px;
}

.stats {
  position: relative;
  text-align: center;
  font-family: var(--russo);
}

.lines:after {
  content: '';
  height: 100%;
  width: 10px;
  border-radius: 6px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--ligthBlue);
}

.stats h2 {
  color: var(--black);
  font-weight: 500;
  font-size: 4rem;
}

.stats h1, .numbers span {
  font-size: 4.5rem;
  color: var(--ligthBlue);
  font-weight: 500;
}

.read-more {
  float: right;
  margin: 100px;
  display: flex;
  align-items: center;
  border: 1px solid var(--ligthBlue);
  border-radius: 11px;
  padding: 20px 40px;
  -webkit-box-shadow: 2px 5px 4px 1px rgba(0,0,0, .25);
  box-shadow: 2px 5px 4px 1px rgba(0,0,0, .25);
}

.read-more a{
  text-decoration: none;
  padding-right: 30px;
  color: var(--ligthBlue);
  font-size: 2.25rem;
  font-weight: 400;
}

/*Section Dask*/

section.dask {
  margin: 200px 0;
  background-image: url("../img/daks-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100vw;
}

.left-dask {
  padding: 100px;
}

.left-dask h1 {
  color: var(--white);
  font-size: 3rem;
}

.left-dask p {
  width: 80%;
  color: var(--white);
  font-size: 1.5rem;
  padding: 50px 0 100px;
}

.dask-btn {
  background-color: var(--white);
  color: var(--black);
  border-radius: 11px;
  padding: 10px 60px;
  text-decoration: none;
  font-weight: 500;
}

/* Different Color Types */

.diff-colors {
  padding: 50px 0 150px 0;
  margin-left: 100px;
}

.main-h1 {
  position: relative;
  color: var(--oceanGreen);
  font-size: 3rem;
  font-weight: 700;
}

.main-h1::after {
  content: '';
  background-color: var(--oceanGreen);
  height: 10px;
  width: 137px;
  position: absolute;
  bottom: -20px;
}

.content-colors {
  padding-top: 150px;
}

.content-colors h1 {
  color: var(--oceanGreen);
  font-size: 2.25rem;
  font-weight: 700;
}

.content-colors p {
  color: var(--grayText);
  font-size: 1.5rem;
  width: 70%;
  font-weight: 500;
  padding: 60px 0;
}

.buttons a {
  color: var(--oceanGreen);
  border: 1px solid var(--oceanGreen);
  font-size: 1.125rem;
  font-weight: 600;
  padding: 10px 30px;
  margin-right: 40px;
  border-radius: 11px;
  text-decoration: none;
  -webkit-box-shadow: 2px 5px 4px 1px rgba(0,0,0, .25);
  box-shadow: 2px 5px 4px 1px rgba(0,0,0, .25);
}

.buttons a:nth-of-type(1) {
  padding: 10px 50px;
}

.right-color {
  position: relative;
  top: 50%;
}

.color-slider {
  position: relative;
  background-image: url(../img/sea-card.svg);
  background-size: cover;
  height: 272px;
  width: 472px; 
  top: 50%;
  left: 25%;
}

.yellow-dask {
  position: absolute;
  top: -300px;
  left: -25%;
}

.color-slider .electric {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 5%;
}

.electric p {
  color: var(--white);
  font-weight: 500;
  padding-top: 15px;
  padding-left: 15px;
  font-size: 1.125rem;
}

.dots {
  position: absolute;
  bottom: -25%;
  left: 48%;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: .7;
}

.dot:hover {
  height: 30px;
  width: 30px;
}

.dot.expand {
  height: 30px;
  width: 30px;
  opacity: 1;
}

.yellow {
  background-color: #DFA25C;
}

.red {
  background-color: #F14543;
}

/* Components */

.components  {
  margin: 100px;
}

.components-main {
  background-image: url(../img/component-bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 834px;
  margin-bottom: 100px;
}

.components-dask {
  padding: 200px 100px 200px 100px;
}

.section-battery {
  position: relative;
}

.battery {
  position: absolute;
  padding: 150px 0 150px 0;
  display: flex;
  flex-direction: column;
  right: -50%; 
  width: 100%;
}

.top {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.top h1 {
  color: var(--white);
  font-size: 2.5rem;
  font-weight: 500;
}

.info {
  padding-top: 50px;
}

.info li {
  color: var(--white);
  font-size: 2.25rem;
}

.info li p {
  color: var(--white);
  font-size: 2.25rem;
  font-weight: 500;
}

.column-dots {
  display: flex;
  flex-direction: column;
}

.cm-dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
}

/* Find us */

.find-us {
  position: relative;
  width: 100%;
  padding-bottom: 150px;
}

.find-us .fu {
  position: absolute;
  left: 70%;
}

.find-us .fu:after {
  left: -50%;
}

.find-content {
  padding-top: 150px;
}

.buttons2 {
  display: flex;
  flex-direction: column;
}

.map {
  margin: 100px;
  position: absolute;
  left: 40%;
  top: 15%;
}

.map-contacts {
  margin: 100px;
  width: 100%;
}

.map-contacts h2{
  font-size: 3rem;
  color: var(--oceanGreen);
  font-weight: 600;
}

.map-btn {
  background-color: var(--oceanGreen);
  border-radius: 11px;
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 500;
  padding: 20px 40px;
  letter-spacing: 1px;
  width: 250px;
  text-align: center;
  text-decoration: none;
  margin-top: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid var(--oceanGreen);
}

.map-btn:hover {
  color: var(--oceanGreen);
  border: 1px solid var(--oceanGreen);
  background-color: transparent;
}

.copy-btn {
  position: relative;
  padding-top: 50px;
  width: 100%;
}

.tooltips {
  position: relative;
  margin-left: 10px;
  font-size: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 3px;
  color: var(--white);
  background-color: var(--oceanGreen);
  opacity: 0;
}

.tooltips.show {
  margin-left: 10px;
  opacity: 1;
  pointer-events: auto;
}

.tooltips::before {
  content: '';
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: var(--oceanGreen);
  top: 30%;
  left: -7px;
  transform: translateY(-50%); 
  transform: rotate(45deg);
}

/* Faq */

.faq {
  padding: 100px 0 100px;
  text-align: center;
}

.faq h4 {
  padding: 50px;
  width: 60%;
  margin: auto;
  color: var(--brown);
  font-size: 1.5rem;
}

.faq-h1 {
  text-align: center;
  padding-bottom: 20px;
  font-size: 2.25rem;
}

.faq-h1::after {
  left: 48%;
}

.accordion {
  max-width: 900px;
  margin: 30px auto 50px;
}

.accordion__item {
  margin-bottom: 5px;
}

.accordion__title {
  background: transparent;
  padding: 20px;
  border-bottom: 1px solid var(--hardGray);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: var(--small);
}

.accordion__content p {
  text-align: left;
  font-size: 16px;
}

.accordion__title::after {
  font-family: 'Font Awesome 5 Free';
  content:'\f078';
  color: var(--oceanGreen);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  width: 1em;
  height: 1em;
  transition: transform 0.3s ease-in;
}

.is-open .accordion__title::after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.accordion__body {
  border-radius: 5px;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.accordion__content {
  background: #fff;
  border-radius: 4px;
  padding: 15px;
  margin-top: 5px;
}

.more-info {
  background-color: var(--oceanGreen);
  border-radius: 11px;
  padding: 20px 40px;
  color: var(--white);
  font-weight: 500;
  border: 1px solid var(--oceanGreen);
  text-decoration: none;
  margin: auto;
  transition: all 0.3s ease;
}

.more-info:hover {
  background-color: transparent;
  border: 1px solid var(--oceanGreen);
  color: var(--oceanGreen);
}






